.main{
    /* width: 100%; */
    min-width: 430px;
    max-width: 600px;
    height: 300px;
    margin-left: 200px;
}

.main img{
    width: 100%;
    height: inherit;
}

.main article{
    width: 100%;
    padding: 10px;
}